:root{
    --clr-secondary: #F3A83B;
}

.active {
    color: var(--clr-secondary);
}

h2 {
    padding-top: 100px;
}

a {
    color: #F3A83B;
    text-decoration: none;
}

.sidebar .active-anchor {
    font-weight: 400;
    color: rgba(113,128,150,var(--tw-text-opacity)) !important;
    /* --tw-text-opacity: 1; */
    /* color: rgba(26,32,44,var(--tw-text-opacity)); */
}