@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom base styles */
/* @layer base { */
    :root {
      /* Color global vars */
      --hue-accent: 36;
      --saturation-accent:88%;
      --lightness-accent: 59%;
  
      /* --background: 0 0% 100%;
      --foreground: 222.2 47.4% 11.2%;
      --primary: 220 9% 46%;
      --primary-foreground: 0 0% 100%;
      --secondary: 210 40% 96.1%;
      --secondary-foreground: 0 0% 100%;
      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;
      --accent-foreground: 222.2 47.4% 11.2%;
      --border: 214.3 31.8% 91.4%; */
  
      /* Font size global vars */
  
      --text-display-xs: 2.25rem; /* 36px */
      --text-display-sm: 2.75rem; /* 44px */
      --text-display-md: 3.25rem; /* 52px */
      --text-display-lg: 6rem; /* 96px */
      --text-heading-xs: 1.25rem; /* 20px */
      --text-heading-sm: 1.5rem; /* 24px */
      --text-heading-md: 2.375rem; /* 38px */
      --text-heading-lg: 2rem; /* 32px */
      --text-heading-xl: 2.25rem; /* 36px */
      --text-heading-xxl: 2.5rem; /* 40px */
      --text-label-xs: 0.75rem; /* 12px */
      --text-label-sm: 0.875rem; /* 14px */
      --text-label-md: 1rem; /* 16px */
      --text-label-lg: 1.125rem; /* 18px */
      --text-paragraph-xs: 0.75rem; /* 12px */
      --text-paragraph-sm: 0.875rem; /* 14px */
      --text-paragraph-md: 1rem; /* 16px */
      --text-paragraph-lg: 1.125rem; /* 18px */
  
      /* Line height global vars */
  
      --leading-display-xs: 2.75rem; /* 44px */
      --leading-display-sm: 3.25rem; /* 52px */
      --leading-display-md: 4rem; /* 64px */
      --leading-display-lg: 7rem; /* 112px */
      --leading-heading-xs: 1.75rem; /* 28px */
      --leading-heading-sm: 2rem; /* 32px */
      --leading-heading-md: 2.25rem; /* 36px */
      --leading-heading-lg: 2.5rem; /* 40px */
      --leading-heading-xl: 2.75rem; /* 44px */
      --leading-heading-xxl: 3.25rem; /* 52px */
      --leading-label-xs: 1rem; /* 16px */
      --leading-label-sm: 1rem; /* 16px */
      --leading-label-md: 1.25rem; /* 20px */
      --leading-label-lg: 1.5rem; /* 24px */
      --leading-paragraph-xs: 1.25rem; /* 20px */
      --leading-paragraph-sm: 1.25rem; /* 20px */
      --leading-paragraph-md: 1.5rem; /* 24px */
      --leading-paragraph-lg: 1.75rem; /* 28px */
  
      --font-sans: "IBM Plex Sans";
      --font-display: "Arial";
  
      /* Corners */
  
      --corner-primary: 4px;
      --corner-primary-lg: 10px;
    }
    